@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007cc2;
  --secondary: #e0e0e0;
  --third: #1699c7;
  --fourth: #252525;
}

body {
  background-color: var(--secondary);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  box-shadow: 10px 10px 25px 15px rgba(0, 0, 0, 0.5);
}

.navigacija {
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) !important;
}

.burger-label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger-label span {
  background: #007cc2;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger-label span:nth-of-type(1) {
  width: 50%;
}

.burger-label span:nth-of-type(2) {
  width: 100%;
}

.burger-label span:nth-of-type(3) {
  width: 75%;
}

.burger-input {
  display: none;
}

.burger-input:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.burger-input:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.burger-input:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

.theme-switch-checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.theme-switch-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.15s ease-in-out;
}
.theme-switch-label:hover {
  background-color: var(--third);
}

.theme-switch-label .ball {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 3.5px;
  border-radius: 50%;
  transition: transform 0.15s linear;
}

.theme-switch-checkbox:checked + .theme-switch-label .ball {
  transform: translateX(21.5px);
}

.theme-switch-checkbox + .theme-switch-label svg {
  transition: fill 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.theme-switch-checkbox:checked + .theme-switch-label svg:nth-child(2) {
  fill: var(--primary);
}
.theme-switch-checkbox:not(:checked) + .theme-switch-label svg:nth-child(1) {
  fill: var(--primary);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted var(--fourth);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted var(--primary);
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 768px) {
  .carousel-inner {
    height: 32rem !important;
  }
}

.carousel-pagination[aria-current="true"] {
  background: var(--primary);
}
.carousel-pagination[aria-current="false"] {
  background: var(--secondary);
}

.about div {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
@media (min-width: 768px) {
  .about div:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    transform: scale(1.15);
  }
}
