@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007cc2;
  --secondary: #e6ecf6;
  --third: #1699c7;
  --fourth: #252525;
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: rgb(46, 162, 149);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 162, 149, 0.75);
}

body {
  background-color: var(--secondary);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  box-shadow: 10px 10px 25px 15px rgba(0, 0, 0, 0.5);
}

.navigacija {
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) !important;
}

.swiper-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.burger-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger-label-aa {
  background: linear-gradient(145deg, #f6fdff, #cfd4dd);
}
.burger-label-aa:active {
  background: linear-gradient(145deg, #cfd4dd, #f6fdff);
}

.gradient-hover {
  background-image: linear-gradient(to right, #2641c2, #01bffd, #2641c2, #01bffd);
  box-shadow: 4px 4px 8px #8a8e94, -4px -4px 8px #ffffff;
  border: 2px solid var(--primary);
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#container{
  width: 400px;
  background: yellow;
}
#floated{
  float: left;
  width: 150px;
  background: red;
}

.gradient-hover:hover {
  background-position: 100% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.gradient-hover:active {
  background-position: 100% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger-label span {
  background: #007cc2;
  border-radius: 10px;
  height: 7px;
  margin: 5.5px 0;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger-label span:nth-of-type(1) {
  width: 75%;
}

.burger-label span:nth-of-type(2) {
  width: 75%;
}

.burger-label span:nth-of-type(3) {
  width: 75%;
}

.burger-input {
  display: none;
}

.burger-input:checked ~ span {
  margin: 7px 0;
}

.burger-input:checked ~ span:nth-of-type(1) {
  width: 50%;
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.burger-input:checked ~ span:nth-of-type(2) {
  width: 100%;
  transform-origin: top;
  transform: rotatez(-45deg);
}

.burger-input:checked ~ span:nth-of-type(3) {
  width: 75%;
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

.theme-switch-checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.theme-switch-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.15s ease-in-out;
}
.theme-switch-label:hover {
  background-color: var(--third);
}

.theme-switch-label .ball {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 3.5px;
  border-radius: 50%;
  transition: transform 0.15s linear;
}

.theme-switch-checkbox:checked + .theme-switch-label .ball {
  transform: translateX(21.5px);
}

.theme-switch-checkbox + .theme-switch-label svg {
  transition: fill 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.theme-switch-checkbox:checked + .theme-switch-label svg:nth-child(2) {
  fill: var(--primary);
}
.theme-switch-checkbox:not(:checked) + .theme-switch-label svg:nth-child(1) {
  fill: var(--primary);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted var(--fourth);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted var(--primary);
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 768px) {
  .carousel-inner {
    height: 32rem !important;
  }
}

.carousel-pagination[aria-current="true"] {
  background: var(--primary);
}
.carousel-pagination[aria-current="false"] {
  background: var(--secondary);
}

.md-div {
  border-radius: 50px;
  border: 3px solid var(--secondary);

  background: var(--secondary);
  box-shadow: inset 8px 8px 16px #8a8e94, inset -8px -8px 16px #ffffff,
    8px 8px 16px #8a8e94, -8px -8px 16px #ffffff;
  border: 2px solid var(--secondary);
}

.md-heading {
  border-radius: 50px;
  background: var(--secondary);
  box-shadow: inset 6px 6px 12px #8a8e94, inset -6px -6px 12px #ffffff,
    6px 6px 12px #8a8e94, -6px -6px 12px #ffffff;
  border: 2px solid var(--secondary);
}

.worktime-heading-div,
.dani,
.inputs-outline {
  background: var(--secondary);
  box-shadow: 3px 3px 6px #8a8e94, -3px -3px 6px #ffffff;
}

.ocna1 {
  border: 3px solid var(--secondary);
  box-shadow: 8px 8px 16px #8a8e94, -8px -8px 16px #ffffff;
}
.ocna2 {
  border: 2px solid var(--secondary);
  box-shadow: 4px 4px 8px #8a8e94, -4px -4px 8px #ffffff;
}


.form-submit {
  background: linear-gradient(145deg, #f6fdff, #cfd4dd);
  box-shadow: 3px 3px 6px #8a8e94, -3px -3px 6px #ffffff;
}

.form-submit:active {
  background: linear-gradient(145deg, #cfd4dd, #f6fdff);
}

.sidebar-links {
  background: transparent;
  box-shadow: 2px 2px 4px #8a8e94, -2px -2px 4px #ffffff;
}

.worktime-heading-div h2,
.form-inputs {
  border-radius: 50px;
  background: var(--secondary);
  box-shadow: inset 8px 8px 16px #9699a0, inset -8px -8px 16px #ffffff;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}



.clock-outline {
  border-radius: 50%;
  background: linear-gradient(145deg, #f6fdff, #cfd4dd);
  box-shadow: 4px 4px 8px #8a8e94, -4px -4px 8px #ffffff;
}

.clock-inline {
  border-radius: 50%;
  background: var(--secondary);
  box-shadow: inset 4px 4px 8px #a8a8a8, inset -4px -4px 8px #ffffff;
}

.div-stt {
  border-radius: 175px;
  background: var(--secondary);
  box-shadow: 5px 5px 10px #8a8e94, -5px -5px 10px #ffffff;
}

.scrollToTop {
  border-radius: 175px;
  background: linear-gradient(145deg, #f6fdff, #cfd4dd);
}
.scrollToTop:active {
  border-radius: 175px;
  background: linear-gradient(145deg, #cfd4dd, #f6fdff);
}

.mySwiper .scroll-down {
  animation: bounce 1s linear infinite;
  transition: transform 0.3s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) scale(2);
  }
  50% {
    transform: translateY(-10px) scale(2);
  }
}

.mySwiper .scroll-down:hover {
  transform: translateY(-10px) scale(2.5);
}

.card-headings {
  border: 2px solid var(--primary);
  box-shadow: 4px 4px 8px #8a8e94, -4px -4px 8px #ffffff;
}